<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sensor Data</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .container {
            margin-top: 50px;
        }
        .card {
            margin-top: 20px;
        }
        .image-container {
            text-align: center;
        }
        .image-container img {
            max-width: 100%;
            height: auto;
        }
    </style>
    <script>
        function fetchSensorData() { 
            fetch('/sensor_data') //서버에서 응답을 받아와 웹에 출력시키기
                .then(response => response.json())
                .then(data => {
                    document.getElementById('temperature').innerText = `Temperature: ${data.temperature} °C`;
                    document.getElementById('water_level').innerText = `Water Level: ${data.water_level}`;
                    document.getElementById('turbidity').innerText = `Turbidity: ${data.turbidity}`;
                });
        }

        setInterval(fetchSensorData, 1000);  // 주기적으로 1초마다 데이터를 가져옴
    </script>
</head>
<body onload="fetchSensorData()">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1 class="card-title">Sensor Data</h1>
            </div>
            <div class="card-body">
                <p class="card-text" id="temperature">Temperature: {{ data.temperature }} °C</p>
                <p class="card-text" id="water_level">Water Level: {{ data.water_level }}</p>
                <p class="card-text" id="turbidity">Turbidity: {{ data.turbidity }}</p>
            </div>
        </div>
        {% if image %}
        <div class="card image-container">
            <h2 class="card-header">Latest Image</h2>
            <div class="card-body">
                <img src="{{ url_for('get_image', filename=image) }}" alt="Sensor Image" class="img-fluid">
            </div>
        </div>
        {% endif %}
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

